<html>
<body>
<header>
  <!-- FORM REGISTER PETSITTER-->
  <div class="justify-content-center mb-4 mt-5">

    <form (ngSubmit)="onSubmit()"
          class="text-center border -5 m-5 z-depth-3">
      <h3><mdb-icon class="mt-3" fas icon="dog" size="3x" class="rgba-blue-light-text pr-3 mt-3" aria-hidden="true"></mdb-icon>Je veux devenir pet sitter</h3>

      <!-- FIRST COLUMN -->

      <!-- First name -->
      <div class="col-auto mt-3">
        <div class="md-form">
          <input mdbInput mdbValidate name="inputfirstName" type="text" id="inputfirstName" class="form-control"
                 [(ngModel)]="petsitter.firstName" #inputfirstName="ngModel" required minlength="2" required
                 maxlength="20">
          <label for="inputfirstName">Mon prénom</label>
          <mdb-error *ngIf="inputfirstName.invalid && (inputfirstName.dirty || inputfirstName.touched)">Le prénom
            doit contenir au minimum 2 caractères et au maximum 20.
          </mdb-error>
          <mdb-success *ngIf="inputfirstName.valid && (inputfirstName.dirty || inputfirstName.touched)">Le prénom
            est valide.
          </mdb-success>
        </div>

        <!-- Last name -->
        <div class="md-form">
          <input mdbInput mdbValidate name="inputlastName" type="text" id="inputlastName" class="form-control"
                 [(ngModel)]="petsitter.lastName" #inputlastName="ngModel" required minlength="2" required
                 maxlength="20">
          <label for="inputlastName">Mon nom</label>
          <mdb-error *ngIf="inputlastName.invalid && (inputlastName.dirty || inputlastName.touched)">Le nom doit
            contenir au minimum 2 caractères et au maximum 20.
          </mdb-error>
          <mdb-success *ngIf="inputlastName.valid && (inputlastName.dirty || inputlastName.touched)">Le nom est
            valide.
          </mdb-success>
        </div>

        <!-- Phone -->
        <div class="md-form">
          <input mdbInput mdbValidate name="inputPhone" type="text" id="inputPhone" class="form-control"
                 [(ngModel)]="petsitter.phone" #inputPhone="ngModel" required
                 pattern="(0|(\+33)|(0033))[1-9][0-9]{8}">
          <label for="inputPhone">Mon téléphone</label>
          <mdb-error
            *ngIf="inputPhone.invalid && (inputPhone.dirty || inputPhone.touched)">Le téléphone doit respecter le
            format français +33.
            Exemple : +33685902516
          </mdb-error>
          <mdb-success
            *ngIf="inputPhone.valid && (inputPhone.dirty || inputPhone.touched)">Le téléphone est valide.
          </mdb-success>
        </div>

        <!-- E-mail -->

        <div class="md-form">
          <input mdbInput mdbValidate name="inputMail" type="email" id="inputMail" class="form-control"
                 [(ngModel)]="petsitter.mail" #inputMail="ngModel" required pattern=".+@.+\.[a-z]+">
          <label for="inputMail">Mon Email</label>
          <mdb-error *ngIf="inputMail.invalid && (inputMail.dirty || inputMail.touched)">L'email doit respecté le
            format :
            monmail@hebergeur.com
          </mdb-error>
          <mdb-success *ngIf="inputMail.valid && (inputMail.dirty || inputMail.touched)">L'email est correct
          </mdb-success>
        </div>
      </div>


      <!-- END FIRST COLUMN -->


      <div class="col-auto mt-3">


        <!-- Animals Allowed -->

        <div class="md-form">
          <input mdbInput mdbValidate name="inputanimalAllowed" type="text" id="inputanimalAllowed"
                 class="form-control"
                 [(ngModel)]="petsitter.animalAllowed" #inputanimalAllowed="ngModel" required minlength="2"
                 required
                 maxlength="20">
          <label for="inputanimalAllowed">Les animaux autorisés</label>
          <mdb-error
            *ngIf="inputanimalAllowed.invalid && (inputanimalAllowed.dirty || inputanimalAllowed.touched)">Les
            animaux autorisées
            doivent contenir au minimum deux caractères et au maximum 20.
          </mdb-error>
          <mdb-success
            *ngIf="inputanimalAllowed.valid && (inputanimalAllowed.dirty || inputanimalAllowed.touched)">Les
            animaux sont valides.
          </mdb-success>
        </div>

        <!-- Environment -->


        <label class="-align-justify">J'habite en...</label>
        <select required [(ngModel)]="petsitter.environment" class="browser-default custom-select mb-4"
                id="environment" name="environment">
          <option value="URBAN">Ville</option>
          <option value="COUNTRYSIDE">Campagne</option>
          <option value="BEACH">Au bord de mer</option>
          <option value="MOUNTAIN">En montagne</option>
        </select>
      </div>


      <!-- Price  -->


      <div class="col-auto">
        <div class="md-form">
          <input mdbInput mdbValidate name="inputPrice" type="number" id="inputPrice" class="form-control"
                 [(ngModel)]="petsitter.price" #inputPrice="ngModel" min="2" max="20">
          <label for="inputPrice">Mon prix en euros</label>
          <mdb-success
            *ngIf="inputPrice.valid && (inputPrice.dirty || inputPrice.touched)">Le prix est valide.
          </mdb-success>
        </div>
      </div>
      <div class="form-row col-auto justify-content-center">
        <div class="md-form">
          <button (click)="onSubmit()" block="true" class="my-4" color="cyan" id="button" mdbBtn
                  type="submit">
            Devenir petsitter
          </button>
        </div>
      </div>
    </form>
  </div>

</header>
</body>
</html>
