<html>
<body>
<header>
  <section class="see">

    <div id="container" class="d-flex justify-content-center mt-5">
      <h3 id="title" class="text-center">Pourquoi utiliser ChatChuffit ?</h3>
      <div class="d-flex flex-wrap justify-content-between">
        <div class="col col-md-4 col-12 more">
          <div class="img">

          </div>
          <h3>
          Test
          </h3>
          <p>
            tuhgehrtuoergh
          </p>
        </div>
        <!--
         <div class="flex-row">
           <div class="col-6 col-sm-4">
             <mdb-icon fas icon="camera-retro" size="3x"></mdb-icon>
             <p class="text-center">
               Je peux trouver le pet sitter qui correspond à mes besoins.
             </p>
           </div>
           <div class="col-6 col-sm-4">
             <mdb-icon fas icon="camera-retro" size="3x"></mdb-icon>
             <p class="text-center">
               Je peux réserver le pet sitter de mes rêves en un clic!
             </p>
           </div>
           <div class="col-6 col-sm-4">
             <mdb-icon fas icon="camera-retro" size="3x"></mdb-icon>
             <p class="text-center">
               Je peux trouver le pet sitter qui correspond à mes besoins.
             </p>
           </div>
         </div>
         <div class="flex-row">
           <div class="col-6 col-sm-4">
             <p class="text-center">
               <mdb-icon fas icon="camera-retro" size="3x"></mdb-icon>
               Plus besoin de devoir faire appel à votre voisin ou votre famille
             </p>
           </div>
           <div class="col-6 col-sm-4">
             <p class="text-center">
               <mdb-icon fas icon="camera-retro" size="3x"></mdb-icon>
               Plus besoin de devoir faire appel à votre voisin ou votre famille
             </p>
           </div>
           <div class="col-6 col-sm-4">
             <p class="text-center">
               <mdb-icon fas icon="camera-retro" size="3x" class=""></mdb-icon>
               Plus besoin de devoir faire appel à votre voisin ou votre famille
             </p>
           </div>
         </div>
         -->
      </div>


    </div>


  </section>

</header>
</body>
</html>
