<html>
<body>
<section class="see">
  <div class="container text-center hoverable">
    <h3 class=" font-weight-bold mb-5 cyan-text text-center">Pourquoi utiliser ChatChuffit?</h3>
    <div class="container">
      <div class="row align-items-start">
        <div class="col">
          <mdb-icon class="mb-3 cyan-text" fas icon="search" size="3x"></mdb-icon>
          <p>Je peux trouver le petsitter parfait</p>
        </div>
        <div class="col">
          <mdb-icon class="mb-3 text-warning" fas icon="star" size="3x"></mdb-icon>
          <p>Je peux réserver le petsitter qui correspond à mes critères</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col mt-5">
          <mdb-icon class="mb-3 text-muted" fas icon="plane" size="3x"></mdb-icon>
          <p>Je peux partir en voyage l'esprit tranquille, mon petsitter s'occupe de tout !</p>
        </div>
        <div class="col mt-5">
          <mdb-icon class="mb-3 text-primary" fas icon="home" size="3x"></mdb-icon>
          <p>Mon animal ne sera plus seul lorsque je suis absent.</p>
        </div>

      </div>
      <div class="row align-items-end">
        <div class="col mt-5">
          <mdb-icon class="mb-3 text-success" fas icon="gift" size="3x"></mdb-icon>
          <p>Je soutiens les diverses associations contre l'abandon</p>
        </div>
        <div class="col">
          <mdb-icon class="mb-3 text-secondary" fas icon="paw" size="3x"></mdb-icon>
          <p>Je donne une chance aux passionné d'être proche de leur passion!</p>
        </div>
      </div>
    </div>
  </div>


</section>

</body>
</html>
